@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}


<h2> Menu </h2>
@foreach (string item in Model)
{
    if (@item == "Starter")
    {
        <div class="col-md-4">
            <img src="~/Assets/images/Drinks-1.png" height="500px" width="700px"/>
            <p class="content">@Html.ActionLink(@item.ToString(), "Menu", new { Controller = "Home", type = @item.ToString() })</p>
        </div>
    }
    else if (@item == "MainCourse")
    {
        <div class="col-md-4">
            <p class="content">@Html.ActionLink(@item.ToString(), "Menu", new { Controller = "Home", type = @item.ToString() })</p>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <p class="content">@Html.ActionLink(@item.ToString(), "Menu", new { Controller = "Home", type = @item.ToString() })</p>
        </div>
    }
}
