<!--
    
Authors: Rutvik Patel, Himanshu Pate
    This Page is the basic layout page for our restraunt site.
     at the Symbols are for the razor tag
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahara Restraunt - @ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand">SAHARA Restraunt</a>
            </div>
            <div class="navbar-collapse collapse">
                <p id="Call" class="nav navbar-nav"><i class="fa fa-phone" aria-hidden="true"></i> Call Now:705-222-22222 </p>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <br />
        <div>
            <footer>
                <p>&copy; @DateTime.Now.Year - SAHARA Restrauant- One Cannot think well, work well, sleep well. If one has not dined well.</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
